.metronome {
  text-align: center;
}

.beats-per-minute input {
  width: 15%;
}
.start-stop {
  background: black;
  border-radius: 10%;
  width: 12rem;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.beats-per-minute {
  font-size: 4rem;
}
